



<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-sm-6 col-md-4">
      <div class="square">
        <div class="input-container">
          <label   for="login" >Login</label>
          <input #name type="text" class="form-control" id="login" placeholder="Enter Login">
          <label for="password">Password</label>
          <input #password type="text" class="form-control" id="password" placeholder="Enter Password">
          <button class="loginBtn" (click)="sendVerifyUser(name,password)">Login</button>
          <a id="register" href="/admin">Register</a>
        </div>

      </div>
    </div>
  </div>
</div>


